@import url("https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
 
}

:root {
  --primary-color: #272E43;
  --secondary-color: rgb(233, 255, 249);
  --accent-color: #3AFFFD;
  --grey_color: rgb(185, 189, 190);
  --cantarell-font: "Cantarell", sans-serif;
  --second-font: "Georgia", "Times New Roman", "Times", "serif";
  --light-font: 400;
  --bold-font: 700;
  --font-style-normal: "normal";
  --font-style-italic: "italic";
  --very-small-font-size: 0.9rem;
  --mid-font-size: 1.5rem;
  --large-font-size: 5rem;
}

html {
  scroll-behavior: smooth;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-image: radial-gradient(#1e1f41 2px, transparent 2px);
  background-size: 32px 32px;
  background-color: var(--primary-color);
  font-family: var(--cantarell-font);
  /* background-color: #272E43; */
  /* background-color: black; */

}

p{
  font-size: 16px;
  line-height: 1.5;
}

.bold_text {
  font-weight: var(--bold-font);
}

i {
  color: var(--accent-color);
}

hr.division{
  border: 4px dashed var(--accent-color);
}


.white_text {
  color: var(--secondary-color);
}

.green_text {
  color: var(--accent-color);
}

.black_text {
  color: var(--primary-color);
}

.grey_text {
  color: var(--grey_color);
}

.about_landingPage {
    position: relative;
    width: 100vw;
    background-color: var(--secondary-color);
    display: inline;
    top: 0;

  }
  
  
  
  
  /* REIGHT SIDE OF THE LANDING PAGE */
  
  .othePageNavbar {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--primary-color);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6); 
    z-index: 1;
    height: 12vh;
    width: auto;
    padding: 0 20%
    /* padding-left: 40%; */
    ; /* Ensures container doesn't exceed a certain width */
  }
  
  
  #other_logo{
    display: none;
    max-width:  60%;
    

    /* z-index: 3; */
  }

  #other_logo_bs{
    display: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  
  @media screen and (min-width: 835px) {
    .otherPageNavbar_links{
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
    }

    #other_logo_bs{
      display: block;
      max-width:  90%;
    }
    
  } 
  

  /* Hamburger menu styles */
  
  .otherPagenavbarToggle {
    display: none;
    position: fixed;
    right: 0;
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    text-align: right;
    /* z-index: 2; */
    align-items: end;
    margin: -20px 0px -20px auto;
  }
  

@media screen and (max-width: 835px) {

.about_landingPage{
    width: auto;
    margin-bottom: -35%;
    /* margin-bottom: auto; */
    /* z-index:unset; */
}
                                        
#other_logo{
    /* margin-left: 20px;
    display: flex !important;
    left: 0 !important;
    justify-content: flex-start !important; */
    display: block;
    margin-left: 20px;
}
                                        
    /* =============NAVBAR BACKROUND============ */
                                        
                                            
    .othePageNavbar {
    height: 10vh;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    }

                                    
    .otherPageNavbar_links {
    display: none;
    flex-direction: column;
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    padding-top: 100px;
    padding-left: 80px;
    height: 100vh;
    position: fixed;
    /* padding-bottom: 100px; */
    line-height: 50px;
    /* z-index: -5; */
    /* transition: all .9s ease-in-out; */
    }
                                            
    .otherPageNavbar_links a {
        margin-bottom: 10px;
    }
                                                               
    .otherPagenavbarToggle {
    font-size: 40px;
    display: block;
    }
}


@media screen and (max-width: 430px) {
  .otherPageNavbar_links {
    width: 100%;
    margin-top: 0;
    top: 0;
    position: fixed;
    padding-top: 80px !important;
    padding-left: 80px;
    padding-bottom: 100px;
    line-height: 25px;
    /* z-index: 100; */
  }

  #other_logo{
    max-width:  40%;

  }
}

  
.abou{
  height: 100vh;
}





/* ============================================================== */
                /* OTHER PAGES RESPONSIVENES */
/* ============================================================== */

/* ==============ABOUT PAGE============= */
.about_body{
  background-color: var(--secondary-color) !important;
  background-image: none  !important;
  background-size: none !important;
}


.theAboutPage{
  height:70vh;
  width:100%;
  /* position:absolute ;   */
  background:radial-gradient(#333,#000);
  border-radius: 0 0 20px 20px;
  box-shadow: 0 0 60px rgba(0,0,0,.6);

  }

  .leaf{
    position:absolute ;
    width:100%;
    height:82%;
    top:0;
    left:0;
    overflow: hidden;
  }
  .leaf div{
    position:absolute ;
    display:block ;
  }
  .leaf div:nth-child(1){
    left:20%; 
    animation:fall 15s linear infinite ;
    animation-delay:-2s;
  
  }
  .leaf div:nth-child(2){
    left:70%; 
    animation:fall 15s linear infinite ;
    animation-delay:-4s;
  }
  .leaf div:nth-child(3){
    left:10%; 
    animation:fall 20s linear infinite ;
    animation-delay:-7s;
      
  }
  .leaf div:nth-child(4){
      left:50%; 
    animation:fall 18s linear infinite ; 
    animation-delay:-5s;
  }
  .leaf div:nth-child(5){
    left:85%; 
    animation:fall 14s linear infinite ;
    animation-delay:-5s;
  }
  .leaf div:nth-child(6){
    left:15%; 
    animation:fall 16s linear infinite ;
    animation-delay:-10s;
  }
  .leaf div:nth-child(7){
    left:90%; 
    animation:fall 15s linear infinite ;
    animation-delay:-4s;
  }
  
  @keyframes fall{
      0%{
        opacity:1;
        top:-10%;
        transform:translateX (20px) rotate(0deg);
      }
      20%{
        opacity:0.8;
        transform:translateX (-20px) rotate(45deg);
      }
      40%{
  
        transform:translateX (-20px) rotate(90deg);
      }
      60%{
          
        transform:translateX (-20px) rotate(135deg); 
      }
      80%{
      
        transform:translateX (-20px) rotate(180deg);
      }
      100%{
          
        top:110%;
        transform:translateX (-20px) rotate(225deg);
      }
      }
  .leaf1{
      transform: rotateX(180deg);
  }

  .my_name{
    position:absolute ;
    top:40%;
    width:100%;
    font-family: 'Courgette', cursive;
    font-size:4rem;
    text-align:center;
    transform:translate ;
    color:#fff;
    transform:translateY (-50%);
  }


  .about_section_container{
    width: 70%;
    margin: 4% auto;
  }

  /* .profileContainer{
    margin: 4% 10%;
  }
   */
  #profileText{
    font-size: 1.2rem;
  }
  
  #prifileName{
    font-size: 1.4rem;
    font-weight: 700;
  }
  
  .profileContainer p::first-letter {
    color: var(--accent-color) !important;
    padding: 0 .2rem;
    margin: 0 .2rem 0 0;
    font-family: "IBM Plex Mono", monospace;
  
    font-size: 8rem;
    float: left;
    line-height: 0.8;
  }

  .aboutPageImg{
    /* background-color: var(--secondary-color); */
    width: 35%;
    max-width: 50%;
    float: right;
    margin: 2% 0 2% 2%;
    box-shadow: 0 0 60px rgba(0,0,0,.4);
  }
  

  /*================EPERIENCE PAGE===================*/

  .experienceBody{
    background-color: var(--secondary-color) !important;
    background-image: none  !important;
    background-size: none !important;
  }


  .expContainer{
    position: relative;
    height: 55vh;
  }


  .expeLandingPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    /* position: relative;  */
    margin: 0 auto; 
    height: 70%;
  }

  
.expVideo{
  width: 100%;
  max-width: 100%;
  height: 400px;
  object-fit: cover;
  z-index: -1;
  position: absolute;
  box-shadow: 0 0 60px rgba(0,0,0,.6);
}

.expeLandingPage > .pageTitle{
  font-size: 2rem;
  font-family: 'Courgette', cursive;
  margin: auto;
  padding-top: 6%;
}



.expePageContent{
  width: 80%;
  margin: auto;
}

.expText{
  font-size: 1.2rem;
}

.expImage2{
  width: 35%;
  max-width: 50%;
  float: right;
  margin: 2% 0 2% 2%;
  filter: drop-shadow(3px 3px 6px #000000);
}

.expPage{
  display: flex;
  justify-content: start;
  margin: 4% auto;
  background-color: var(--primary-color);
  box-shadow: 0 0 60px rgba(0,0,0,.6);
  border-radius: 10px;
  padding: 2%;
}

.expIcon{
  border: 4px solid var(--accent-color);
  border-radius: 50%;
  font-size: 25px;
  padding: 20px;
  margin-right: 10px;
}

.expContent{
  display: flex;
  width: 50%;
}

.expImage{
  max-width: 100%;
}

.expvertical{
  border-left: 4px solid var(--accent-color);
  height: 250px;
  margin-top: 1%;
  padding-right: 2%;
  /* position: absolute; */
  /* left: 35%; */
}

.expRespon ul li{
  list-style: square  inside;
}

.expRespon ul li::marker{
  color: var(--accent-color);
}


.expPagei{
  display: flex;
  justify-content: start;
  margin: 4% auto;
  background-color: var(--primary-color);
  box-shadow: 0 0 60px rgba(0,0,0,.6);
  border-radius: 10px;
  padding: 2%;
}

.expImage3 {
  width: 70%;
  max-width: 100%;
}
.expImage4{
  width: 70%;
  max-width: 100%;
}
.expImage5{
  width: 70%;
  max-width: 100%;
}



.otherRolls{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  flex-wrap: wrap;
}

.otherExpIcon{
  border: 4px solid var(--accent-color);
  border-radius: 50%;
  padding: 10px;
}

.otherResponCard{
  background-color: #000;
  width: 300px;
  margin: 20px;
  padding: 2%;
  border-radius: 5px;
  box-shadow: 0 0 60px rgba(0,0,0,.4);
}

.otherResponCard h3{
  padding-bottom: 10px;
}

.expePagesummary{
  width: 80%;
  margin: 3% auto;
  font-size: 1.2rem;
}


/* ====================APPROACH PAGE =================== */

/* FOR THE CSS OF THIS HOMEPAAGE REFERENCE THE EXPERIENCE CSS */

.contentForApproach{
  width: 90%;
  margin: auto;
}

#approach1{
  margin-bottom: 3%;
}

#approach1, #approach2 {
  background-color: var(--secondary-color) !important;
  padding: 4%;
  border-radius: 20px;
  box-shadow: 0 0 60px rgba(0,0,0,.4);
}


.pageTitleforApproach{
  font-size: 1.3rem;
  font-family: 'Courgette', cursive;
  z-index: 0;
  padding-top: 8%;
}

.approachvid:before {
  content: "";
  display: block;
  position: absolute;
  height: 330px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.7;
  z-index: 0;
}

.approachContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  /* flex-wrap: wrap; */
}

.approachContainer h1{
  font-size: 5rem;
  line-height: 80px;
  font-family: var(--second-font) !important;

}



.pulseBtn,  .prtfo {
  background:#0b63bb;
  color:#fff;
  border:1px solid #0b63bb;
  padding: 0.7rem 2rem;
  border-radius:2rem;
  font-size:1rem;
  box-shadow: 0 0 0 0 rgba(88, 120, 243, 0.4);
  -moz-animation: pulse 2s infinite;
  -webkit-animation: pulse 2s infinite;
  cursor: pointer;
  animation: pulse 2s infinite;
  }
  
  @keyframes pulse {
      0% {
          box-shadow: 0 0 0 0 rgba(88, 120, 243, 1);
      }
      70% {
          box-shadow: 0 0 0 10px rgba(88, 120, 243, 0);
      }
      100% {
          box-shadow: 0 0 0 50px rgba(88, 120, 243, 0);
      }
  }


.approachContainer p, .contentForApproach p{
  font-size: 1.3rem;
}

.approachSteps p{
    display: block;
    /* Adjust as needed */
    text-indent: 20px; /* Adjust as needed */
}

.approachSteps strong:before {
  content: "•"; /* Bullet character */
  color: #09715d; /* Bullet color */
  margin-right: 5px; /* Adjust as needed */
  font-size: 2rem;
}

.contentForApproach h2{
  margin: 3% 0 2% 0;
  font-size: 2rem;
  text-align: justify;
  background-color: #09715d;
  border-radius: 5px;
  padding: 4px 10px;
  box-shadow: 0 0 60px rgba(0,0,0,.4);
}


.wrapper.nine {
  background-color: #09715d;
  font-family: var(--second-font), serif;
  text-align: center;
  margin-bottom: 3%;
  border-radius: 5px;

}
.rotate span {
  font-size: 5rem;
  color: #f8f8f8;
  display: inline-flex;
  animation: rotate 2s infinite;
}
@keyframes rotate {
  0%,
  75% {
      transform: rotateY(360deg);
  }
}
.nine span:nth-of-type(1) {
  animation-delay: 0.2s;
}
.nine span:nth-of-type(2) {
  animation-delay: 0.4s;
}
.nine span:nth-of-type(3) {
  animation-delay: 0.6s;
}
.nine span:nth-of-type(4) {
  animation-delay: 0.8s;
}
.nine span:nth-of-type(5) {
  animation-delay: 1s;
}
.nine span:nth-of-type(6) {
  animation-delay: 1.2s;
}







